{% extends "emails/base.html" %}

{% block heading %}Reset your password{% endblock %}

{% block intro %}
Hi {{ name }},<br><br>
We received a request to reset the password for your {{ app_name }} account. Choose a new password using the button below.
{% endblock %}

{% block action_label %}Reset password{% endblock %}

{% block outro %}
This link expires in 1 hour and can be used once. Resetting your password signs you out on all devices.<br><br>
If you didn't ask to reset your password, you can ignore this email. Your password won't change.
{% endblock %}
